# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.HadronLib.iml
# Datasource local storage ignored files
/../../../../../../../:\Desktop\Repos\HadronLib\.idea\.idea.HadronLib\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
